.superhero-wrapper {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.superhero {
    border: 2px solid dodgerblue;
    width: 20%;
    margin: 10px;
    padding: 10px;
    background-color: rgba(11, 226, 241);
    color: rgb(0, 0, 0);
}

p{
    margin: 2px;
    padding: 2px;
}